[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=backupdoit
Comment=doit.im backup utility
Exec=/opt/backupdoit/bin/backupdoit
Icon=/opt/backupdoit/bin/backupdoit.png
Type=Application
Terminal=false
Categories=Network;
